<%= link_to("<< Back to List", {:action => 'list', :page_id => @page.id}, :class => 'back-link')%>

<div class="section show">
	<h2>Create Section</h2>
	<%=@page.id%>
	<%=form_for(:section, :url => {:action => 'create', :page_id => @page.id}) do |f|%>

	<%=render(:partial => "form", :locals => {:f => f})%>

	<div class="form-buttons">
		<%=submit_tag("Create Section")%>
	</div>
	<%end%>
</div>